h1{
   font-family: 'Poppins', 'Raleway', sans-serif;
   font-size: $seventyFiveToThirtyPx; //original size 75px
   font-weight: 700;
   line-height: 1em;
}
h2{
   font-family: 'Poppins', 'Raleway', sans-serif;
   font-size: $seventyFiveToThirtyPx; //original size 75px
   font-weight: 700;
   line-height: 1em;
}
h3{
   font-size: $twentySixToEighteenPx; //original size 26px
   font-family: 'Montserrat', 'sans-serif';
   font-weight: 400;
   color: #060606;
   opacity: 80%;
}
.descriptions{
   font-family: 'Montserrat', sans-serif;
   font-size: $twentySixToEighteenPx; //original size 26px
   font-weight: 400;
   line-height: 1.23em;
}
.sub-descriptions{
   font-family: 'Montserrat', sans-serif;
   font-size: $eighteenToTwelvePx; //original size 18px
   font-weight: 400;
   opacity: 70%;
   line-height: 1.22em;
}
.buttons{
   font-family: 'Montserrat', sans-serif;
   font-size: $twentySixToEighteenPx; //original size 26px
   cursor: pointer;
}
.audit-button{
   font-size: $eighteenToTwelvePx;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 16.6em;
   height: 5em;
   line-height: 1em;
   border-radius: 20px;
   background: linear-gradient(to right, $accent, #0085FF);
   letter-spacing: 0.05em;
   &::after{
      display: block;
      width: 1.2em;
      height: 1.2em;
      content: '';
      background-image: url(../icons/icon_telegram.svg);
      margin-left: 20px;
      // position: relative;
      // top: 4px;
      background-position: initial;
      background-size: contain;
      background-repeat: no-repeat;
   }
   span{
      font-family: inherit;
      font-weight: 600;
      color: #ffff;
   }
}

.achievement-rectangles{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: $accent;
   border-radius: 5px;
   font-family: 'Montserrat', sans-serif;
   color: #FCFCFC;
   font-size: $fourtySixToTventyEightPx; //calculated from parent normal font size 46px
   font-weight: 700;
   box-shadow: 5px 7px 5px #7c7c7c;
   img{
      margin-top: 0.086956522em; //calculated from parent normal font size 46px
      width: 0.565217391em;
   }
   span{
      font-family: inherit;
   }
}


.audit-form{
   display: grid;
}
.audit-form__input{
   width: 60%;
   height: 4.4em;
   padding: 0 0 0 1.6em;
   line-height: 1em;
   border-radius: 0.83em;
   font-size: $eighteenToTwelvePx;
   font-family: inherit;
   // @media(max-width: 1024px){

   // }
}
.logo{ 
   flex: 1 1 10%;
   height: 2.5em;
   z-index: 12;
   svg{
      fill: #FCFCFC;
      &:hover{
         fill: $accentTwo;
      }
   }
}
.logo__image{
   height: 100%;
   object-fit: contain;
}

.popup-window{
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.80);
   overflow: auto;
   z-index: 16;
   display: flex;
   opacity: 0;
   // scale: 0;
   pointer-events: none;
   transition: opacity 0.3s;
   justify-content: center;
   align-items: center;
}
.popup-window._active{
   opacity: 100%;
   pointer-events: all;
   // scale: 100%;
}
.popup-window__body{
   position: relative;
   // height: 60vh;
   background-color: #fff;
   border-radius: 20px;
   align-items: center;
   margin: 5% 5%;
   scale: 0;
   transition: scale 0.3s;
   @media(orientation: portrait){
      padding: 6vw 6vw;
   }
   @media(orientation: landscape){
      padding: 6vh 6vw;
   }
   @media(max-width: 480px){
      padding: 4vh 10vw;
      }
      @media(orientation: landscape) and (max-height: 412px){ //for mobile landscape
         padding: 0.5vh 4vw 6vh 4vw;
         }
   h2{
      margin-bottom: 20px;
      color: $accent;
      @media(orientation: landscape) and (max-height: 412px){ //for mobile landscape
         margin: 20px 0 10px 0;
         }
   }
}
.popup-window__body._active{
   scale: 100%;
}
.popup-window_content-container{
   margin: 0 auto;
   text-align: center;
}
.popup-audit-form{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 8%;
   @media(max-width: 480px){
      grid-template-columns: 1fr;
      }
      @media(orientation: landscape) and (max-height: 412px){ //for mobile landscape
         margin-top: 5%;
         }
}
.popup-audit-form__input-wrapper{
   &:first-child{
      @media(min-width: 481px){
         margin-right: 5px;
         }
         @media(max-width: 480px){
            margin-bottom: 10px;
            }
   }
   &:nth-child(2){
      @media(min-width: 521px){
         margin-left: 5px;
         }
   }
   &:last-child{
      margin-top: 20px;
      grid-column-start: span 2;
      @media(max-width: 480px){
      grid-column-start: auto;
      }
   }
}
.popup-audit-form__input{
   width: 100%;
   box-shadow: $inputFormShadows;
}
.popup-audit-form__button{
   margin: 0 auto;
}
.cross-sign{
   position: absolute;
   top: 0.7em;
   right: 0.7em;
   font-size: $thirtyEightToTventyTwoPx;
   color: grey;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   @media(orientation: landscape) and (max-height: 412px){ //for mobile landscape
      font-size: $thirtyEightToTventyTwoPx;
      }
   &:hover{
      color: $accentTwo;
      cursor: pointer;
      font-weight: 600;
   }
}