@import url(null.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@700&family=Raleway:wght@500&display=swap');
// Global elements block start

//Calculation of used fonts for adaptive design
$seventyFiveToThirtyPx: calc(30px + (75 - 30)*((100vw - 320px) / (1920 - 320))); //75px to 30px
$twentySixToEighteen: calc(18px + (26 - 18)*((100vw - 320px) / (1920 - 320))); //26px to 18px
$twentySixToTwelve: calc(12px + (26 - 12)*((100vw - 320px) / (1920 - 320))); //26px to 18px
$twentyToFefteen: calc(15px + (22 - 15)*((100vw - 320px) / (1920 - 320))); //20px to 15px
$eighteenToTwelve: calc(12px + (18 - 12)*((100vw - 320px) / (1920 - 320))); //18px to 12px

body{
   margin: 0 auto;
}
.wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
   overflow: hidden;
}
h2{
   font-family: 'Poppins', sans-serif;
   font-size: $seventyFiveToThirtyPx; //original size 75px
   font-weight: 700;
   line-height: 1em;
}
h3{
   font-size: $twentySixToEighteen; //original size 26px
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: #060606;
   opacity: 80%;
}
.descriptions{
   font-family: 'Montserrat', sans-serif;
   font-size: $twentySixToEighteen; //original size 26px
   font-weight: 400;
   line-height: 1.15em;
}
.sub-descriptions{
   font-family: 'Montserrat', sans-serif;
   font-size: $eighteenToTwelve; //original size 18px
   font-weight: 400;
   opacity: 70%;
   line-height: 1.22em;
}
.buttons{
   font-family: 'Montserrat', sans-serif;
   font-size: $twentySixToEighteen; //original size 26px
   cursor: pointer;
}
.audit-button{
   width: 14.583333333em;
   padding: 1.25em 0;
   line-height: 1em;
   border-radius: 0.625em;
   background: linear-gradient(to right, #2549A6, #0085FF);
   color: #ffff;
   text-align: center;
   font-weight: 500;
   letter-spacing: 0.05em;
   span::after{
      content: url(../icons/icon_telegram.png);
      margin-left: 1.25em;
      position: relative;
      top: 0.166666667em;
   }
}
.achievement-rectangles{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1F7CE3;
   border-radius: 5px;
   font-family: 'Montserrat', sans-serif;
   color: #FCFCFC;
   font-size: 46px; //calculated from parent normal font size 46px
   font-weight: 600;
   box-shadow: 5px 7px 5px #7c7c7c;
   img{
      margin-top: 0.086956522em; //calculated from parent normal font size 46px
      width: 0.565217391em;
   }
}
.service-rectangles{
   // font-size: $eighteenToTwelve; //needed for adaptivity, 18px
   position: relative;
   width: 160px;
   height: 90px;
   background-color: #1F7CE3;
   border-radius: 5px;
   margin: 0 auto;
   img{
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
   }
}
.arrow{
   position: relative;
   float: right; //needed to set starting point of the tail's growth to the right
   .tail{
      width: 80px;
      height: 10px;
      background-color: #1F7CE3;
      border-radius: 5px;
   }
   .leg{
      position: absolute;
      width: 40px;
      height: 10px;
      background-color: #1F7CE3;
      border-radius: 4px;
   }
   .upper{
      transform: translate(46px, -22px) rotate(45deg);
   }
   .lower{
      transform: translate(46px, 2px) rotate(-45deg);
   }
}
// Global elements block 

//media querries block start



//media querries block end

.main-screen{
   background: url(../img/picture_main_page_background_dark.png);
   background-size: cover;
   .header{
      display: flex;
      justify-content: space-between;
      margin: 2vh 10vw 2vh 10vw;
      font-size: $twentyToFefteen; //original font-size 20px
      .header__logo{
         flex: 1 1 10%;
         height: 3em;
         img{
            height: 100%;
            object-fit: contain;
         }
      }
      .nav-list{
         display: flex;
         justify-content: flex-end;
         align-items: center;
         flex: 1 0 auto;
         .nav-list__item{
            color: #fff;
            font-family: 'Raleway', sans-serif;
            margin: 0 1vw 0 1vw;
         }
         .nav-list__item:last-of-type{
            margin-left: 1vw;
         }
      }
   }
   .section-row{
      display: flex;
      margin-top: 10vh;
      .section-column_left{
         padding-left: 10vw;
         padding-right: 3vw;
         flex: 1 0 50%;
         h2{
            color: #fff;
            margin-bottom: 0.86em;
         }
         .descriptions{
            color: #fff;
            margin-bottom: 3.86em;
         }
         .section-column__button{
            width: 19.2em; //relativly to parent's 26px font size
            border-radius: 0.27em;
            background: #fff;
            color: #060606;
            text-align: center;
            padding: 1.12em 0;
            font-weight: 500;
         }
      }
      .section-column_right{
         flex: 0 1 50%;
         margin-left: 0;
         img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            top: 30px;
         }
      }   

   }
}
.about{
   display: flex;
   margin-top: 15vh;
   .section-column_left{
      margin-right: 7vw;
      flex: 1 1 auto;
      img{
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   .section-column_right{
      flex: 1 0 35%;
      margin-right: 10vw;
      h3{
         margin-bottom: 0.77em;
      }
      .about__description{
         opacity: 80%;
      }
      img{
         font-size: $seventyFiveToThirtyPx; //needed for adaptive margins
         margin-bottom: 0.8em;
         width: 100%;
      }
   }
}
.achievements{
   margin-top: 15vh;
   .section-container{
      width: 80%;
      margin: 0 auto;
      .descriptions{
         font-weight: 500;
      }
      .section-row:first-child{
         justify-content: space-between;
         margin-bottom: 87px;
      }
      .section-row:last-child{
         justify-content: space-around;
      }
      .section-row{
         display: flex;
         align-items: center;
         p{
            text-align: center;
         }
         .rectangle_small{
            width: 5em; // from 46px
            height: 3.5em;
            margin-bottom: 30px;
         }
         .rectangle_big{
            width: 6em;
            height: 3.5em;
            margin-bottom: 30px;
         }
         .section-column__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
         .section-column_top{
            flex: 1 0 33.333%;
            display: flex;
            justify-content: center;
            .section-column__container{
               width: 80%;
            }
            .descriptions{
               margin-bottom: 0.3em;
            }
         }
         .section-column_bottom{
            flex: 1 0 50%;
            display: flex;
            justify-content: center;
            .section-column__container{
               width: 50%;
            }
            .descriptions{
               margin-bottom: 0.3em;
            }
         }
      }
      .section-column_top:nth-child(2){
         position: relative;
         top: -20px; // shifting middle rectangle little but to the top
      }
   }
}
.our-projects{
   margin: 8vh 0; //needed for edge shadows
   overflow: hidden; //preventing showing pictures out of required zone
   box-shadow: 0 -5px 10px rgba(221, 219, 219, 0.90), 0 5px 10px rgba(221, 219, 219, 0.90);
   .section-row{
      display: flex;
      background: url(../img/picture_projects_page_background_dark.png);
      background-size: cover;
      align-items: center;
      padding: 8vw 0;
      .section-column_left{
         flex: 0 1 40.5%;
         margin-left: 10vw;
         display: flex;
         flex-direction: column;
         justify-content: center;
         h3{
            color: #FFFFFF;
            margin-bottom: 0.77em;
         }
         h2{
            color: #fff;
            margin-bottom: 1.2em;
         }
         p{
            color: #fff;
            margin-bottom: 4.6em;
         }
         .audit-form{
            display: flex;
            flex-direction: column;
               input{
                  width: 26.2em;
                  padding: 2.2em 0 2.2em 1.6em;
                  line-height: 1em;
                  border-radius: 0.83em;
                  font-size: $eighteenToTwelve;
                  font-family: inherit;
               }
               input:first-of-type{
                  margin-bottom: 1.33em;
               }
               input:last-of-type{
                  margin-bottom: 2em;
               }
            }
      }
      .section-column_middle{
         flex: 0 0 1%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin: 0 1vw 0 3vw;
         input{
            font-size: $seventyFiveToThirtyPx; //needed for adaptivity
            margin: 0.05em 0;
            appearance: none;
            border-radius: 50%;
            width: 0.16em;
            height: 0.16em;
            border: 0.028em solid #999;
            transition: 0.1s all linear;
            outline: none;
         }
         input:checked {
            border: 0.04em solid #fff;
            background-color: #fff;
          }
      }
      .section-column_right{
         height: fit-content;
         margin-right: 1vw;
         flex: 0 1 59.5%;
         display: inline-flex;
         flex-direction: column;
         justify-content: center;
         position: relative;
         img{
            width: 100%;
            object-fit: contain;
         }
         div{
            width: 100%;
            display: none;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.7);
         }
         .active{
            display: block;
            position: absolute;
            z-index: 2;
         }
         .active-top{
            display: block;
            position: absolute;
            transform: scale(90%);
            bottom: 50px;
            left: 100px;
            z-index: 1;

         }
         .active-bottom{
            display: block;
            position: absolute;
            transform: scale(90%);
            top: 50px;
            left: 100px;
            z-index: 1;
         }
      }
   }
}
.services{
   margin-top: 5vh;
   .section-row__headings{
      .section-column_left{
         width: 50%;
         margin-left: 10vw;
         h3{
            margin-bottom: 0.77em;
         }
         h2{
            margin-bottom: 1.2em;
            background: linear-gradient(to right, #2549A6, #0085FF);
            background-clip: text;
            -webkit-text-fill-color: transparent;
         }
         p{
            margin-bottom: 3.85em;
            opacity: 80%;
         }
      }
   }
   .section-row__cards{
      display: flex;
      justify-content: space-evenly;
      position: relative;
      .row-hatched-line{
         display: flex;
         width: 100%;
         position: absolute;
         top: 40px;
         flex: 1;
         justify-content: space-evenly;
         .dash{
            height: 10px;
            width: 4%;
            background-color: #1F7CE3;
            border-radius: 5px;
            margin: 0 0.5%;
            flex: 0 1 auto;
         }
         .dash:last-child{
            margin-right: 0.5vw;
         }
      }
      .section-column__container{
         width: 90%;
         margin: 0 auto;
      }
      .section-column{
         flex: 0 1 23.75%;
         text-align: center;
         .descriptions{
            margin: 3vh 0 4% 0;
            font-weight: 500;
            line-height: 1.5em;
         }
      }
      .section-column:last-child{
         margin-right: 5%;
      }
   }
   .section-row__decoration-line{
      width: 80%;
      margin: 5% auto;
      border: solid #1F7CE3 1px;
   }
}
//eye-tracking section including media
// @media (min-width: 320px) {
//    .eye-tracking{
//       .section-row__cards-container{
//          .cards-row{
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             border: solid red;
//             .section-column{
//                flex: 1;

//             }
//          }
//       }
//    }
// }
.eye-tracking{
   .section-row__video-container{
      display: flex;
      justify-content: space-between;
      .section-column_left{
         flex: 0 1 50%;
         margin: 0 5vw 0 5vw;
         display: flex;
         justify-content: center;
         align-items: center;
         .video-container{
            width: 100%;
            min-width: 500px;
            overflow: hidden;
            border-radius: 25px;
            video{
               width: 100%;
            }
         }
      }
      .section-column_right{
         flex: 1 1 50%;
         margin-right: 10vw;
         h3{
            margin-bottom: 0.77em;
         }
         h2{
            margin-bottom: 1.2em;
            background: linear-gradient(to right, #2549A6, #0085FF);
            background-clip: text;
            -webkit-text-fill-color: transparent;
         }
         p{
            margin-bottom: 8%;
            opacity: 80%;
         }
      }
   }
   .section-row__cards-container{
      width: 90%;
      margin: 7vh auto;
      position: relative;
      .cards-row{
         display: flex;
         position: relative;
         flex-direction: row;
         .section-column{
            flex: 1 1 33.333%;
            display: flex;
            justify-content: space-evenly;
            .eye-tracking-cards{
               font-size: $twentySixToTwelve;
               width: 29vw;
               height: 13.5vw;
               border-radius: 1em;
               position: relative;
               overflow: hidden;
               p{
                  font-family: 'Poppins', sans-serif;
                  font-weight: 700;
                  line-height: 1em;
               }
               .stage{
                  text-align: right;
                  margin: 5%;
               }
               .card-description{
                  position: absolute;
                  left: 5%;
                  bottom: 15%;
               }
               img{
                  position: absolute;
                  width: 40%;
                  right: 5%;
                  bottom: -8%;
               }
            }
            .eye-tracking-cards:nth-child(2){
               margin: 0.5vw 0;
            }
            .blue-card{
               background: linear-gradient(to right, #2549A6, #0085FF);
               color: #fff;
            }
            .white-card{
               box-shadow: 5px 10px 10px 0px gray;
               background: #fff;
            }
         }
      }
      .cards-row_bottom{
         margin-top: 2vh;
      }
      .section-row__decoration-block{
         width: 66.666%;
         height: 50%;
         position: absolute;
         top: 50%;
         left: 50%;
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         border: solid grey 3px;
         border-left: none;
      }
   }
}
.our-clients{
   margin-top: 5vh;
   .section-row-headings{
      text-align: center;
      h3{
         margin-bottom: 2vh;
      }
      h2{
         margin-bottom: 15vh;
         background: linear-gradient(to right, #2549A6, #0085FF);
         background-clip: text;
         -webkit-text-fill-color: transparent;
      }
   }
   .section-row-clients-cards{
      padding-bottom: 250px;
      background: url(../img/picture_background_footer.png);
      background-size: cover;
      .client-cards-container{
         width: 80%;
         margin: 0 auto;
         position: relative;
         top: -40px;
         .cards__row{
            display: flex;
            justify-content: space-around;
            .client-card{
               flex: 1;
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               margin: 0 auto;
               min-width: 250px;
               max-width: 300px;
               height: 250px;
               border-radius: 15px;
               background-color: #fff;
               box-shadow: 6px -3px 10px 1px rgba(0, 0, 0, 0.3);
               img{
                  width: 100%;
                  height: 100%;
                  margin: 0 5%;
                  object-fit: scale-down;
               }
               .tatneft{
                  position: relative;
                  top: -10%;
               }
            }
            .client-card:nth-child(2){
               margin: 0 2%;
            }
         }
         .cards__row:nth-child(2){
            margin: 8vh 0;
         }
      }
   }
}
.footer-section{
   .section-row-audit-form{
      margin-bottom: 8vh;
      h2{
         text-align: center;
         margin-bottom: 4vh;
      }
      .descriptions{
         text-align: center;
         margin-bottom: 8vh;
      }
      .audit-form{
         display: flex;
         justify-content: center;
         input{
            width: 25vw;
            min-width: 250px;
            border-radius: 15px;
            text-align: left;
            font-size: 20px;
            padding-left: 2%;
         }
      }
      input:nth-child(1){
         box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.3), -3px 0 15px 0 rgba(0, 0, 0, 0.3);
      }
      input:nth-child(2){
         box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.3), -3px 0 15px 0 rgba(0, 0, 0, 0.3);
         margin: 0 3% 0 2%;
      }
   }
   footer{
      width: 80%;
      font-size: inherit;
      margin: 0 auto;
      margin-bottom: 1vh;
      display: flex;
      justify-content: space-between;
      .creator-info{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         p:last-of-type{
            color: black;
            font-weight: 600;
            opacity: none;
         }
      }
   }
}